*{
    padding: 0;
    margin: 0;
    list-style: none;
    border: none;
    box-sizing: border-box;
    text-decoration: none;
}
section{
    justify-content: center;
     min-height: 100vh;
    justify-items: center;
    align-items: center;
    text-align: center;
    
}
.container{
   max-width: 1140px;
    padding-left: 12px;
    padding-right: 12px;
    margin-left: auto;
    margin-right: auto;
}
.row{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    margin-right:-12px;
    margin-left:-12px;
}
/* .justify-content-between{
    justify-content: space-between;
} */

/*-------------------column----------------------*/

    .col-4 {
          width: 33.33%;
          padding-left:12px;
          padding-right:12px;
    }
 /* ............ */
/* .text-align-center{
    text-align: center;
}
.d-flex{
    display: flex;
} */